{% extends 'base.html' %}
{% load avatar_tags %}
{% load widget_tweaks %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'user/css/userInfo.css' %}">
{% endblock %}


{% block content %}
<br>
        <div class="container">
          <div class='row'>
            <div class="col-lg-3 s12 m4 l3">
                {% if puser.socialaccount_set.all.0.get_avatar_url %}
                <img src="{{ puser.socialaccount_set.all.0.get_avatar_url }}" class="responsive-img z-depth-4">
                {% else %}
                {% avatar puser 500 class="responsive-img z-depth-4" id="user_avatar" %}
                {% endif %}
                
                <h5 class='blue-grey-text text-darken-3'>{{puser.username }}</h5>
                {% if user == puser %}   
                <h5 class='blue-grey-text text-darken-3'>{{puser.get_full_name }}</h5>
                <h6 class='blue-grey-text text-lighten-3'>{{puser.email }}</h6><br>
                <a href="#!" class="collection-item">Settings</a><hr>
                {% else %}
                <hr>
                <form method="post" action="/accounts/friends" class="col s12" id='followForm'>{% csrf_token %}
                    <input type="hidden" name="puser" value="{{puser.id}}">
                    <input type="submit" class="col waves-effect waves-light btn orange" id='fB' value='Follow'> 

                </form>
  
                {% endif %}
                
                

            </div>
            <div class="col-lg-9 s12 m8 l9">
             
                    <div class="card-tabs">
                      <ul class="tabs tabs-fixed-width">
                        {% if user == puser %}    
                        <li class="tab"><a class="blue-grey-text text-darken-3" href="#test4">Profile</a></li>
                        {% endif %}
                        <li class="tab"><a class="active blue-grey-text text-darken-3" href="#test5"><span class="badge badge-light">{{puser.lunchboxes.all|length}}</span>Bentoes</a></li>
                        <li class="tab"><a class="blue-grey-text text-darken-3" href="#test6"><span class="badge badge-light">{{puser.reviews.all|length}}</span>Reviews</a></li>
                        <li class="tab"><a class="active blue-grey-text text-darken-3" href="#test7"><span class="badge badge-light">{{puser.lunchboxes.all|length}}</span>Followers</a></li>
                        <li class="tab"><a class="blue-grey-text text-darken-3" href="#test8"><span class="badge badge-light">{{puser.profile.following.all|length}}</span>Following</a></li>
                      </ul>
                    </div>
                    <div>
                      {% if user == puser %}    
                      <div id="test4">
                        <br>
                          <form method="post" action="/accounts/update" class="col s12" id='profileUpdateForm'>{% csrf_token %}
                              <div class='row'>
                                  <h6 class="blue-grey-text text-lighten-4 left-align">We'll never share your information with anyone else.</h6>
                              </div>
                              <div class="row">
                                  <div class="input-field col s6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" name="fn" type="text" class="validate" value="{{user.first_name}}">
                                    <label for="icon_prefix">First Name</label>
                                  </div>
                                  <div class="input-field col s6">
                                    <input id="icon_lastname" type="tel" name="ln" class="validate" value="{{user.last_name}}">
                                    <label for="icon_ln">Last Name</label>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                      <i class="material-icons prefix">email</i>
                                      <input disabled value="{{user.email}}" id="disabled" type="text" class="validate">
                                      <label for="disabled">Email</label>
                                    </div>
                                  </div>
                              <div class="row">
                                <div class="input-field col s6">
                                  <i class="material-icons prefix">mail_outline</i>
                                  <input id="icon_post" type="text" class="validate" name="zip" value="{{user.profile.postal_code}}">
                                  <label for="icon_post">postal code</label>
                                </div>
                                <div class="input-field col s6">
                                  <i class="material-icons prefix">phone</i>
                                  <input id="icon_telephone" type="tel" class="validate" name="phone" value="{{user.profile.phone}}">
                                  <label for="icon_telephone">Telephone</label>
                                </div>
                              </div>
                              <div class='row'>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="icon_prefix2" class="materialize-textarea" name='bio' value="{{user.profile.bio}}"></textarea>
                                    <label for="icon_prefix2">Bio</label>
                                  </div>
                                </div>
                                
                                <input type="submit" class="btn btn-primary orange" id='b2' value='Update'> 
                                
                            </form>
                           
                        
                      </div>
                      {% endif %}
                      <div id="test5">
                      {% for bento in puser.lunchboxes.all %}
                    
                          <div class="col s12 m6">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/lunchbox/angular/{{bento.id}}'><span class="new badge orange top-align" data-badge-caption=" like" style='position: absolute;top:0px;right:0px;'>{{bento.like}}</span><img src="/media/{{bento.images.first.image}}" class='responsive-img'></a>
                              </div>
                              <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{bento.title}}<i class="material-icons right">more_vert</i></span>
                                <p><small class="blue-grey-text text-lighten-3"><abbr  class='timeago' title='{{bento.updated_at|date:'Y-m-d H:i' }}'></abbr ></small></p><br>
                              </div>
                              {% if user == puser %}    
                              <div class="card-action">
                                  <a href="#">Edit</a>
                                  <a href="#">Delete</a>
                              </div>
                              {% endif %}
                              <div class="card-reveal s12 m8 offset-m2 l6 offset-l3" style="overflow:auto">

                                  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                                  <p>{{bento.description}}</p><hr>
                                  <span class="card-title grey-text text-darken-4">Review</span>
                                  {% for review in bento.reviews.all%}
                                  
                          
                                      <ul class="collection hoverable">
                                          <li class="collection-item avatar">
                                              {% if review.user.socialaccount_set.all.0.get_avatar_url %}
                                              <a href='/accounts/profile/{{review.user.id}}'><img src="{{ review.user.socialaccount_set.all.0.get_avatar_url }}" class="circle responsive-img z-depth-4 hoverable"></a>
                                              {% else %}
                                              <a href='/accounts/profile/{{review.user.id}}'>{% avatar review.user class="responsive-img z-depth-4 circle" id="review.user_avatar" %}</a>
                                              {% endif %}
                                            <span class="title">{{review.user.username}}</span>
                                            <p>{{review.content}}
                                            </p>
                                            <a href="#!" class="secondary-content">{{review.score}}</a>
                                          </li>
                                      </ul>
                                      {% empty %}
                                      <p>No review yep, click <a href='/accounts/profile/{{review.user.id}}'>here</a> to add a review.</p>
                                  {% endfor %}
                                
                              </div>
                        </div>
                          </div>
                      {% endfor %}
                      </div>
                      <div id="test6">
                          <ul class="collection">
                        {% for review in puser.reviews.all%}
                       
                        
                        <li class="collection-item hoverable avatar">
                            <a href='/lunchbox/angular/{{review.lunchbox.id}}'><img src="/media/{{review.lunchbox.images.first.image}}" alt="" class="circle responsive-img">
                            <span class="title blue-grey-text text-darken-3">{{review.lunchbox.title}}</span></a><br>
                            {% with ''|center:review.score as range %}
                            {% for _ in range %}
                            <span><i class="material-icons orange-text">star</i></span>
                            {% endfor %}
                            {% endwith %}
                              <br>
                              <p>
                               {{review.content}}
                            </p>
                            <small class="secondary-content blue-grey-text text-lighten-3"><abbr  class='timeago' title='{{review.updated_at|date:'Y-m-d H:i' }}'></abbr ></small>
                            {% if user == puser %}    
                            <hr>
                            <span><a href="#" class='orange-text hoverable'>Edit</a></span>&nbsp;&nbsp;&nbsp;
                            <span><a href="#" class='orange-text hoverable'>Delete</a></span>
                            {% endif %}
                        </li>
                        
                   
                        {% endfor %}
                      </ul>
                      </div>
                    </div>
                
            </div>
            
          </div>
         
           </div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.1/jquery.timeago.js"></script>  
<script src="{% static 'user/js/main.js' %}"></script> 
{% endblock %}