asn1crypto==0.24.0
awscli==1.14.43
botocore==1.8.47
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
colorama==0.3.7
cryptography==2.2.2
docutils==0.14
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.19
jmespath==0.9.3
ordereddict==1.1
pathlib==1.0.1
pipenv==11.9.0
pyasn1==0.4.2
pycparser==2.18
pyOpenSSL==17.5.0
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
