{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}


{% block css %}
<link rel="stylesheet" href="{% static 'user/css/bootstrap-social.css' %}">  
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'user/css/userInfo.css' %}">
{% endblock %}  


{% block content %}
<br>
        <div class="container" style="width:40%">
               
                    
                      
                      <img  style = "width:50%;display: block;

                      max-width: 100%;
                      margin:0 auto; " src="{% static 'art.png' %}"  >
                      <h5 style="text-align:center">Welcome to BentoMan</h5>
                        
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                        </div>
                      {% endfor %}
                      <form method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% for field in form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                  
                        {% if form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                  
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block orange" style="background-color:#01218E">Submit</button>
                    
                    
                </form>
                       
                <h6 style="text-align:center"><strong>OR</strong></h6> 
               
                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-block btn-facebook btn-social" style="background-color:#3b5998;text-align:center">
                    <i class="fab fa-facebook fa-2x"></i>Sign in with Facebook
                   </a>
                 
                <a href="/accounts/google/login" class="btn btn-block btn-google btn-social" style="text-align:center">
                    <i class="fab fa-google fa-2x"></i>Sign in with Google
                   </a>
                
                  <a href="/accounts/github/login" class="btn btn-block btn-github btn-social" style="text-align:center">
                    <i class="fab fa-github fa-2x"></i>Sign in with GitHub
                   </a>
                   <hr>
                  <a href="/accounts/signup" class='right'>Sign up</a>

                  <div class='push'></div>
                  <br> <br> <br> <br> <br> <br> <br> <br>
            </div>

          
           
{% endblock %}

