{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'user/css/userInfo.css' %}">
{% endblock %}


{% block content %}
<br><br>
        <div class="container">
                <div class="row login">
                    <div class="col-md-6">        
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                        </div>
                      {% endfor %}
                      <form method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% for field in form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                  
                        {% if form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}  
                        <br><ul class="row form-group"><small class="form-text text-muted"><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></small></ul>
                        {% endif %}
                       
                      </div>
                    {% endfor %}
                    <button type="submit" class="btn orange btn-block">Submit</button>
                </form>
            
                    </div> 




                
                <div class="col-md-6">
                     
                    <img  style = "width:100%;" src="{% static 'art2_meitu_1.png' %}"  >
                  </div>
                </div>


                 <div class='push'></div>
            </div>
           

            {% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.1/jquery.timeago.js"></script>  
<script src="{% static 'user/js/main.js' %}"></script> 
{% endblock %}