{% extends 'base.html' %}
{% load avatar_tags %}
{% load widget_tweaks %}
{% load static %}
{% load extras_tag %}


{% block head %}
<meta http-equiv="refresh" content="5;url=/" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'user/css/userInfo.css' %}">
{% endblock %}




{% block content %}
<br>
        <div class="container" style="width:40%">
               
                    
                      
                      <img  style = "width:50%;display: block;

                      max-width: 100%;
                      margin:0 auto; " src="{% static 'art.png' %}"  >
                      <h5 style="text-align:center">Your password has updated.</h5>
                      <h6 style="text-align:center">Back to home page in <span id='timer' style='color:orange'>5</span> seconds.</h6>
                      
                      <div class='push'></div>
        </div>
{% endblock %}

{% block javascript %}
<script>
    var d =5
    var x = setInterval(function() {
        d--;
        var t = document.getElementById("timer")
        t.innerHTML=d;
    },1000)    
        </script>
{% endblock %}