.customsContainer {
    margin-left: 5em;
    margin-right:1em;
}
app-showinfo{
    width: 100%;
    height: 100%;
} 
app-review{
    width:100%;
}
app-showmap{
    width:100%;
}
app-chatbox{
    position: fixed;
    bottom: 10px;right: 10px; 
    z-index: 5000;
}