    <div class='customsContainer'>
    <div class='row'>
    <div class='col-lg-7'>
        <div class='row' style="height:30em">
           <app-showinfo></app-showinfo>
        </div>
        <div class='row'>
            <app-review></app-review>
        </div>
    </div>
    <div class='col-lg-3'>
        <div class='row'>
           <app-showmap></app-showmap>
        </div>
        <div class='row'>
          <app-showapi></app-showapi>
       </div>
    </div>
    <div class='col-lg-2' style="height:100%">
        <app-chatbox></app-chatbox>
    </div>
</div>
</div>