.input-field label {
    color: #000;
  }
.input-field input[type=text]:focus + label {
    color:#000;
  }
  /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
  }
  /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
.input-field .prefix.active {
    color:orange;
  }

.modal {
  height: 45%;
}
       
/* .tabs .tab a {
  color:orange;
} */
/* .tabs .tab a:hover, .tabs .tab a.active {
  background-color: orange;
} */