{% load widget_tweaks %}
{% load avatar_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>BENTOMAN</title>
  <meta name="description" content="fill_me_in" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
 
  {% block head %}
  {% endblock %}
  {% block css %}
  {% endblock %}
</head>
<body>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/accounts/profile/{{user.id}}"><span class="grey-text text-darken-3">Profile</span></a></li>
        <li><a href="#!"><span class="grey-text text-darken-3">Settings</span></a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><span class="grey-text text-darken-3">Log out</span></a></li></a></li>
      </ul>
      <nav style="position: -webkit-sticky;position: sticky;top: 0; z-index:2147483647">
        <div class="nav-wrapper grey lighten-5 blue-text text-darken-2">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/" class="brand-logo" style="font-family:audiowide;font-size:2em"><img class="img-responsive" src="https://i.imgur.com/Keg7X6S.png" width="40px"><span class="black-text"> BENTOMAN</span></a>
          <ul class="right hide-on-med-and-down blue-text text-darken-2">
            <li><a href="sass.html"><span class="grey-text text-darken-3"><i class="fas fa-search"></i></span></a></li>
            <li><a href="/"><span class="grey-text text-darken-3">Home</span> </a></li>
            <li><a href="/"><span class="grey-text text-darken-3">About</span> </a></li>
            {% if user.is_authenticated %}        
            {% if user.socialaccount_set.all.0.get_avatar_url %}
            <li><a href="/accounts/profile/{{user.id}}"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="img-circle img-responsive rounded-circle" style="width:2.25em"><span class="grey-text text-darken-3"> {{user.get_full_name }}</span></a></li>
            {% else %}
            <li><a href="/accounts/profile/{{user.id}}">{% avatar user 35 class="img-circle img-responsive rounded-circle" id="user_avatar" %} <span class="grey-text text-darken-3">{{user.username }}</span></a></li>
            {% endif %}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right"><span class="grey-text text-darken-3">arrow_drop_down</span></i></a></li>
            {% else %}
            <li><a href="/accounts/login"><span class="grey-text text-darken-3">Log in</span> </a></li>
            <li><a href="/accounts/signup"><span class="grey-text text-darken-3">Sign up</span> </a></li>
            {% endif %}  
          </ul>
        </div>
      </nav>



    {% block content %}
    {% endblock %}
    <footer class="page-footer grey lighten-5">
        <div class="container">
          <div class="row">
            <div class="col l4 s12">
              <h5 class="grey-text text-lighten-1">BENTOMAN</h5>
              <p class="grey-text text-lighten-2">Authentic homemade bentos around you</p>
            </div>
            <div class="col l4 s12">
              <h5 class="grey-text text-lighten-1">Contact</h5>
              
                <span><a class="grey-text text-darken-4" href="#!"><i class="fab fa-github"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span><a href="#!"><i class="fab fa-linkedin"></i></a></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span><a class='orange-text' href="mailto:quasimodo1660@gmail.com?Subject=Hello%20Bentoman"><i class="fas fa-at"></i></a></span>
              
            </div>
          </div>
        </div>
       
      </footer>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    {% block javascript %}
    {% endblock %}
</body>
</html>
