{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

 
  <script src="{% static 'lunchbox/js/progress-bar-upload.js' %}"></script>
  
{% endblock %}





{% block content %}
<div class='container'>
<div class='row'>
    <div class='col-md-7'>
      <div class='row'>
            <form method="post"  action="/dish/update/">
              <div class='form-row'>
                {% csrf_token %}
               
                <input type = 'hidden' id ='lng' name = 'lng' value="">
                <input type = 'hidden' id = 'lat' name = 'lat' value="">
                <input type = 'hidden' id = 'city' name = 'city' value="">
        
                <div class="form-group col-lg-12">
                        <input type="text" class="form-control" name="title" placeholder="Enter title" style="border:none">
                </div>
                <div class="form-group col-lg-12">
                        <textarea class="form-control" name="des" placeholder="Enter description" style="border:none"></textarea>
                </div>
                <div class="form-group col-lg-12">
                        <input type="date" class="form-control date" name="time" style="border:none">
                </div>

                
                <div class="form-group col-lg-12">
                        <input type="text" class="form-control" name="loc" placeholder="Enter location" id='loc' style="border:none">
                </div>
                <div class="form-group col-lg-12">
                <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name"  class="title"></span><br>
                        <span id="place-address"></span>
                </div>
                </div>
              </div>
                <input type="submit" class="btn btn-primary" name='b1' value='draft'>
                <input type="submit" class="btn btn-primary" name='b2' value='save'>
            </form>
          </div>
            <hr>
            <!-- multiple images upload with progress bar -->
           
            <div class='row'>
                  <div style="margin-bottom: 20px;">
                        <button type="button" class="btn btn-primary js-upload-photos">
                          <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
                        </button>
                     
                      <input id="fileupload" type="file" name="file" multiple
                             style="display: none;"
                             data-url="/dish/uplaods/"
                             data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>        
                  </div>
                      <table id="gallery" class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Photo</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                  
                      <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Uploading...</h4>
                            </div>
                            <div class="modal-body">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <!-- end of multiple images upload with progress bar -->
        </div>
        <div class='col-md-5'>
                <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Step 1</th>
                                <td><input type="text" class="form-control" name="step1" style="border:none"></td>
                            </tr>
                            <tr>
                                <th scope="row">Step 2</th>
                                <td><input type="text" class="form-control" name="step2" style="border:none"></td>
                            </tr>
                            <tr>
                                <th scope="row">Step 3</th>
                                <td><input type="text" class="form-control" name="step3" style="border:none"></td>
                            </tr>
                        </tbody>
                </table>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD1BgNBjRye5nHsUPtz-EukHsXe4anQhc&libraries=places"></script>

<script src="{% static 'lunchbox/js/main.js' %}"></script> 
{% endblock %}