{% extends 'base.html' %}
{% load avatar_tags %}
{% load widget_tweaks %}
{% load static %}
{% load extras_tag %}
{% load social_share %}

{% block css %}
<!-- <link href="{% static 'css/chatBox.css' %}" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
{% endblock %}



{% block content %}
<br>
<div class='container'>
    <div class="row">
        <div class='col text-center'>
        <h2>{{lunchbox.title}}</h2> 
    </div>
    </div>
    
        <div class="slider">
                <ul class="slides">
                {% for i in lunchbox.images.all %}
                  <li>
                    <img class="responsive-img" height="100%" src="/media/{{ i.image }}" alt="{{ lunchbox.title }}" id="{{ lunchbox.title }}"><!-- random image -->
                  </li>
                  {% endfor %}
                </ul>
     
    </div>
    <br>
    <div class='row'>
            <div class='col-lg-6 s12' id='map' style="height:45em;width: 100%";>
                <label class="left-align"><i class="fas fa-map-marker"></i>  Pick up location</label>
            </div>
                <div class='col-lg-6 s12'>
                    <label class="left-align"><i class="fas fa-user"></i>  Provider</label>
                    <h5><a href='/accounts/profile/{{lunchbox.user_id}}'>{{lunchbox.user.username}}</a></h5>
                    <hr>
                    <label class="left-align"><i class="fas fa-info-circle"></i>  Description</label>
                    <p>{{lunchbox.description}}</p>
                    <hr>
                    <label class="left-align"><i class="fas fa-star"></i>  Average rating</label>
                    <p>{% avg_rate lunchbox.reviews.all %} average based on {{lunchbox.reviews.all.count}} reviews.</p>
                     <hr>
                     <label class="left-align"><i class="fas fa-tags"></i>  Category</label><br>
                     {% for i in lunchbox.tags.all %}
                     <div class="chip">
                            {{i}}
                          </div>
                     {% endfor %}
                     <hr>
                     <label class="left-align"><i class="fas fa-clock"></i>  Pick up time</label><br>
                     {{lunchbox.offertime|date:'Y-m-d'}} {{lunchbox.offertime|date:'g:i A'}}
                    <hr>
                    <label class="left-align"><i class="fas fa-share-square"></i>  Share</label><br>
                    <div class='row'>
                            <span>{% post_to_facebook lunchbox "<a class='btn-flat'><i class='fab fa-facebook-f fa-lg' style='color:#3b5998'></i></a>" %}</span>
                            <span>{% post_to_gplus lunchbox "<a class='btn-flat'><i class='fab fa-google-plus-g fa-lg' style='color:#dd4b39'></i></a>" %}</span>
                            <span>{% post_to_twitter "I found a {{lunchbox.title}} on BentoMan" lunchbox "<a class='btn-flat'><i class='fab fa-twitter fa-lg' style='color:#55acee'></i></a>" %}</span>
                            <span>{% post_to_linkedin lunchbox.title lunchbox "<a class='btn-flat'><i class='fab fa-linkedin-in fa-lg' style='color:#0976b4'></i></a>" %}</span>
                        </div>
                    <hr>
                    <div class='row'>
                    
                    <form method="POST" action="/lunchbox/addLike/{{lunchbox.id}}" id='likeForm'>{% csrf_token %}
                            <input type="hidden" name="bentoID" value="{{lunchbox.id}}">
                    
                
                     {% if user in lunchbox.likedby.all %}
                     <button type='submit' class='btn-flat'><i class='fas fa-thumbs-up fa-lg' style='color:orange'></i></button>
                     {% else %}
                    <button type='submit' class='btn-flat'><i class='far fa-thumbs-up fa-lg' style='color:orange'></i></button>
                    
                    {% endif %}
                    </form>
                
                   
                    {% for u in lunchbox.likedby.all %}
                        {% if forloop.first %}
                            <span><h6><a id='like_{{u.id}}' href='/accounts/profile/{{u.id}}'>{{u.username}}</a></h6></span>   
                        {% elif forloop.last %}  
                            <span><h6><a id='like_{{u.id}}' href='/accounts/profile/{{u.id}}'>, {{u.username}}</a></h6></span>     
                        {% else %}
                            <span><h6><a id='like_{{u.id}}' href='/accounts/profile/{{u.id}}'>, {{u.username}}</a></h6></span>
                        {% endif %}
                    {% endfor%}
             
                    
                    </div>
                </div>
    </div>
    <div class='row'>
            {% for review in lunchbox.reviews.all%}
                                  
                          
            <ul class="collection hoverable col">
                <li class="collection-item avatar">
                    {% if review.user.socialaccount_set.all.0.get_avatar_url %}
                    <a href='/accounts/profile/{{review.user.id}}'><img src="{{ review.user.socialaccount_set.all.0.get_avatar_url }}" class="circle responsive-img z-depth-4 hoverable"></a>
                    {% else %}
                    <a href='/accounts/profile/{{review.user.id}}'>{% avatar review.user class="responsive-img z-depth-4 circle" id="review.user_avatar" %}</a>
                    {% endif %}
                  <span class="title"><a href='/accounts/profile/{{review.user.id}}'>{{review.user.username}}</a></span>
                  <div>
                        {% full_star review.score as range %}
                        {% for _ in range %}
                        <span><i class="material-icons orange-text">star</i></span>
                        {% endfor %}
                       
                        {% blank_star review.score as range1 %}
                        {% for _ in range1 %}
                        <span><i class="material-icons orange-text">star_border</i></span>
                        {% endfor%}
                        
                      </div>
                  <p>{{review.content}}
                  </p>
                  <small class="secondary-content blue-grey-text text-lighten-3"><abbr  class='timeago' title='{{review.updated_at|date:'Y-m-d H:i' }}'></abbr ></small>
                </li>
            </ul>
            
            {% empty %}
            <p>No review yep. Be the first reviewer.</p>                                     
          {% endfor %}
    </div>
    <div class='row'>
            <form class="needs-validation col-lg-12 s12" (submit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Review:</label>
                        <textarea class="form-control" name='review.content' [(ngModel)]='review.content'></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Stars</label>
                        <select class="form-control materialize-textarea" id="exampleFormControlSelect1" name='review.score' [(ngModel)]='review.score'>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    <button type="submit" class="btn btn-primary orange" >Add a review</button> 
                </form>
    </div>
    
</div>

{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.1/jquery.timeago.js"></script> 
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script> 
<script src="{% static 'lunchbox/js/map.js' %}"></script>
<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
    $('.slider').slider();
});
jQuery.timeago.settings.allowFuture = true;
    jQuery("abbr.timeago").timeago();
</script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicXVhc2ltb2RvMTY2MCIsImEiOiJjamc0NDl3cjUxM3BrMnF4ZmtxOXE3YWg3In0.kVwbt6_30MvCJq12iNchOQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9', 
    center: ['{{lunchbox.lon}}','{{lunchbox.lat}}'],
    zoom: 13
});

</script>
{%endblock%}