{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/chatBox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
    <div class='col-lg-8'>
        <div class='row'>
            <h1>display the info of this lunchbox</h1>
        </div>
        <div class='row'>
            <h1>display Graphics via API</h1>
        </div>
    </div>
    <div class='col-lg-4'>
        <div class='row'>
            <h1>goole map display location</h1>
        </div>
        <!-- Chatbox using socket -->
        <div class='row'>
            <div class="top_menu">
                <div class="buttons">
                    <div class="button close"></div>
                    <div class="button minimize"></div>
                    <div class="button maximize"></div>
                </div>
                <div class="title">Chat</div>
            </div>
            <ul class="messages"></ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <input class="message_input" placeholder="Type your message here..." />
                </div>
                <div class="send_message">
                    <div class="icon"></div>
                    <div class="text">Send</div>
                </div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text"></div>
                </div>
            </li>
        </div>
        <!-- End of Chatbox using socket -->
    </div>
</div>
</div>

{% endblock %}