@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';


agm-map {
    width: 100%;
    height:300px;
 }

.sb{
    background-color:inherit;
    border-color: white;
}