<div class='col s4'>
    <h5 class="left-align">{{ title }}</h5>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    </div>
<div class='col s8'>
    <h5 class="left-align">Provider</h5>
    <a href='/accounts/profile/{{lunchbox.user_id}}'>{{lunchbox.user}}</a>
    <hr>
    <h5 class="left-align">Description</h5>
    <p>{{lunchbox.description}}</p>
    <hr>
    <h5 class="left-align">Average rating</h5>
    <p>{{lunchbox.stars}}</p>
     <hr>
     <h5 class="left-align">Category</h5>
     <ng-container *ngFor='let i of tags'>
        <div class="chip">
            {{i}}
          </div>
     </ng-container>
     <hr>
     <h5 class="left-align">Pick up time</h5>
     <p>{{lunchbox.offertime | date: 'MMM-dd-yy'}}</p>
    <hr>
     <button class="btn waves-effect waves-light pulse orange" (click)="addLike()"><i class="fas fa-thumbs-up"></i> {{lunchbox.like}} like</button>
     
</div>
